@model IEnumerable<ThreadInMotion.Library.SharedModels.Models.DailyReport>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSpent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyGoal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyGoal)
            </td>
        </tr>
}
    </tbody>
</table>
