@model ThreadInMotion.Library.SharedModels.Models.Book

<form id="bookSearchForm">
    <div class="form-row">
        <div class="col-md-3">
            @Html.LabelFor(m => m.Name, "Kitap Adı")
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.Isbn, "ISBN")
            @Html.EditorFor(m => m.Isbn, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(m => m.Author, "Yazar")
            @Html.EditorFor(m => m.Author, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <button type="button" class="btn btn-primary" onclick="searchBook();"> Ara </button>
    </div>
</form>

<div id="result">

</div>


@section scripts{
    <script>
        function searchBook() {
            $.ajax({
                type: "POST",
                url: '/Book/GetBooks',
                data: $('#bookSearchForm').serialize(),
                success: function (result) {
                    var tableString = '<table class="table table-hover">' +
                        '<thead>' +
                        '<tr>' +
                        '<th scope="col">#</th>' +
                        '<th scope="col">Kitap Adı</th>' +
                        '<th scope="col">Isbn</th>' +
                        '<th scope="col">Yazar</th>' +
                        '<th scope="col">Kitap Boşta Mı ? </th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>';
                    for (var i = 0; i < result.result.length; i++) {
                        tableString += '<tr>' +
                            '<th scope="row">' + (i + 1) + '</th>' +
                            '<td>' + result.result[i].name + '</td>' +
                            '<td>' + result.result[i].isbn + '</td>' +
                            '<td>' + result.result[i].author + '</td>' +
                            '<td>' + ('<button onclick="toggleBook(' + result.result[i].id + ',' + result.result[i].isAvailable + ')" type="button" class="btn btn-sm btn-primary" >' + (result.result[i].isAvailable ? 'Kitabı Ver' : 'Kitabı Al') + '</button>') + '</td>' +
                            '</tr>';
                    }
                    tableString += '</tbody></table>';
                    $('#result').html(tableString);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.responseText) {
                        alert(JSON.parse(jqXHR.responseText).message);
                    }
                }
            });
        }

        function toggleBook(bookId, isAvailable) {
            if (isAvailable) {
                assign(bookId);
            } else {
                unAssign(bookId);
            }
        }

        function assign(bookId) {
            window.location.href = window.location.origin + '/BookTransactions/AssignBookToMember?bookId=' + bookId;
        }

        function unAssign(bookId) {
            $.ajax({
                type: "POST",
                url: '/BookTransactions/UnassignBook',
                data: { bookId: bookId },
                success: function (result) {
                    alert('Kitap teslim işlemi gerçekleştirilmiştir');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.responseText) {
                        alert(JSON.parse(jqXHR.responseText).message);
                    }
                }
            });
        }


    </script>
}